

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

  

    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <title>Dashboard</title>
    <link rel="stylesheet" href="css/himal.css" type="text/css"> -->
</head>
<body>
  
   

  
    <div class="container">

      
        <!-- Header -->
        <header class="header">
            <h1>EMAIL Management</h1>
        </header>
        



        <!-- Sidebar -->
        <!-- <nav class="sidebar">
            <ul>
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </nav> -->

       
        <main class="content">
          
            <br>

            <div class="cards">


              
                <div class="card" (click)="redirect1()"  style="cursor: pointer;">
                    <div class="icon-container">
                      <i class="fa fa-envelope"></i> <!-- Envelope Icon -->
                    
                      

                    </div>
                    <b style="font-size: 17px;">SCHEDULE MAIL - DEFAULT CC</b>
                  </div>
                  
                  <div class="card" (click)="redirect2()" style="cursor: pointer;">
                    <div class="icon-container">
                      <i class="fa fa-check-circle"></i> <!-- Check Circle Icon -->
                  
                      
                    </div>
                    <b style="font-size: 17px;">APPROVAL MAIL</b>
                  </div>
                  
                  <div class="card"  (click)="redirect3()" style="cursor: pointer;">
                   
                    <div class="icon-container">
                      <i class="fa fa-calendar"></i> <!-- Calendar Icon -->
                 
                      
                    </div>
                    <b style="font-size: 17px;">SCHEDULE MAIL CC</b>
                   
                  </div>


                


                 
                  
              
              
              
                
                
            </div>
       
        
        </main>
        

        <!-- Footer -->
        <footer class="footer">
            <p><a style="color: yellow;" href="https://paplexpress.com" target="_blank">Paplexpress.com</a> - All rights reserved 2024</p>
        </footer>
    </div>


</body>

</html>