<!-- reset-password.component.html -->
<div class="container mt-5">
    <div class="login-container">
      <h3 class="login-title">Reset Password</h3>
      <form [formGroup]="resetForm" (ngSubmit)="submitForm()" class="login-form">
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" formControlName="email" class="form-input" [(ngModel)]="email">
          <div *ngIf="resetForm.get('email')?.hasError('required') && (resetForm.get('email')?.touched || resetForm.get('email')?.dirty)" class="error-text orange-text">
            Email is required.
          </div>
          <div *ngIf="resetForm.get('email')?.hasError('email') && (resetForm.get('email')?.touched || resetForm.get('email')?.dirty)" class="error-text orange-text">
            Please enter a valid email.
          </div>
        </div>
  
        <div class="form-group">
          <label for="password">New Password:</label>
          <input type="password" id="password" formControlName="password1" class="form-input" [(ngModel)]="password1">
          <div *ngIf="resetForm.get('password1')?.hasError('required') && (resetForm.get('password1')?.touched || resetForm.get('password1')?.dirty)" class="error-text orange-text">
            Password is required.
          </div>
          <div *ngIf="resetForm.get('password1')?.hasError('minlength') && (resetForm.get('password1')?.touched || resetForm.get('password1')?.dirty)" class="error-text orange-text">
            Password must be at least 6 characters long.
          </div>
        </div>
  
        <div class="form-group">
          <label for="password">Confirm Password:</label>
          <input type="password" id="password" formControlName="password2" class="form-input" [(ngModel)]="password2">
          <div *ngIf="resetForm.hasError('passwordMismatch') && (resetForm.get('password2')?.touched || resetForm.get('password2')?.dirty)" class="error-text orange-text">
            Passwords do not match.
          </div>
        </div>
  
        <button type="submit" class="login-button">Reset</button>
      </form>
    </div>
  </div>
  