<!-- Main Content -->
<div class="container">
  <header class="header">
    <h1>BUILDING NAME</h1>
    <div class="search-box">
      <button class="btn-search"><i class="fas fa-search"></i></button>
      <input 
        type="text" 
        class="input-search" 
        placeholder="Type to Search..." 
        [(ngModel)]="searchQuery" 
        (ngModelChange)="fetchTypeOfBuildingUsers()">
    </div>
  </header>

  <main class="content">
    <br><br>

    <!-- Button to open the form popup -->
    <button class="open-form-btn" (click)="toggleFormPopup()">
      <i class="fas fa-plus"></i>Add Building Name
    </button>
    <br><br>

    <!-- Popup Form Container -->
    <div *ngIf="showFormPopup" class="popup-overlay33">
      <div class="popup-content33">
        <h2 class="popup-title">{{ isUpdateMode ? "UPDATE BUILDING NAME" : "ADD NEW BUILDING NAME" }}</h2>
        <i class="fa fa-times cancel-icon" (click)="toggleFormPopup()"></i>
        <form (ngSubmit)="onSubmit()" #userForm="ngForm">
          <div class="form-group33">
            <label for="Name">Building Name:</label>
            <input
              type="text"
              id="name"
              [(ngModel)]="building_name_type.building_name"
              name="name"
              required
            />
          </div>

          <div class="popup-buttons33">
            <button type="submit" class="confirm"><i class="fa fa-check"></i>{{ isUpdateMode ? "UPDATE" : "ADD" }}</button>
          </div>
        </form>
      </div>
    </div>

    <!-- Building Details Table -->
    <div class="table-responsive">
      <table class="styled-table">
        <thead>
          <tr>
            <th>Type of Building</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let building_name_type of filteredBuildingNames">
            <td>{{ building_name_type.building_name }}</td>
            <td>
              <button class="edit-btn" (click)="editTypeOfBuildingUser(building_name_type)">
                <i class="fas fa-edit" title="EDIT"></i>
              </button>
              <button class="delete-btn" (click)="deleteTypeOfBuildingUser(building_name_type.id)">
                <i class="fas fa-trash-alt" title="DELETE"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
</div>
