<!-- <div>
    <h1>Send Report to Client</h1>
    <table>
      <thead>
        <tr>
          <th>Project Name</th>
          <th>Building Name</th>
          <th>Unit Name</th>
          <th>Document ID/Report Id</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let report of reports">
          <td>{{ report.project_name }}</td>
          <td>{{ report.building_name }}</td>
          <td>{{ report.unit_name }}</td>
          <td>{{ report.document_id +"/"+report.report_id }}</td>
          <td>
            <button (click)="sendEmail(report.document_id,report.customer_name,report.project_name)">Send</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div> -->


  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>



  
  <!-- Certificate Table -->
  <div class="container">

    <header class="header">
      <h1>SEND REPORT TO CLIENT</h1>
    
    </header>
  
    <main class="content">
      <h2>QR</h2>
      <br />
      <hr />
      <br />
  
      <!-- Display Users in a Table -->
      <div class="table-responsive">
        <p *ngIf="reports.length==0">No more records</p>
        <table class="styled-table" >
          <thead>
            <tr>
              <th>S. No</th>
              <th>Project Name</th>
              <th>Building Name</th>
              <th>Unit Name</th>
              <th>Document ID/Report Id</th>
              <th>Add cc for Mail</th>
              <th>Actions</th>
             
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let report of reports; let i = index">
              <td>{{ i + 1 }}</td> <!-- Index-based serial number -->
              <td>{{ report.project_name }}</td>
              <td>{{ report.building_name }}</td>
              <td>{{ report.unit_name }}</td>
              <td>{{ report.document_id +"/"+report.report_id }}</td>
              <!-- <button (click)="openEmailPopup()">📩</button> -->
              <td>
                <button (click)="openEmailPopup()">
                  <i class="fa fa-plus"></i>
                </button>
              </td>
              
              <!-- <td>
                <span class="button-style" type="button" title="OPEN QR" (click)="generateQRCode(certificate.unit_name, certificate.document_id)">
                  <i class="fas fa-qrcode"></i>
                </span>
              </td> -->
              <td>
                <button (click)="sendEmail(report.document_id,report.customer_name,report.project_name,report.report_id,report.building_name,report.unit_name)"><i class="fas fa-paper-plane"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>


  <div *ngIf="isPopupOpen" class="popup-overlay">
    <div class="popup">
      <h3>Enter CC Emails</h3>
      <textarea [(ngModel)]="emailInput" placeholder="Enter emails separated by commas"></textarea>
      <br />
      <button class="save" (click)="saveEmails()">Save</button>
      <button class="cancel" (click)="closePopup()">Cancel</button>
    </div>
  </div>
  <div class="report-cards-container">
    <div class="loader-container" *ngIf="isLoading">
      <div class="icon logo">
        <div class="loader"></div>
      </div>
    </div>
    </div>