
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

<div class="opening-meeting">
  <!-- Navbar -->
  <nav class="navbar">
    <div class="left-section">
     <div class="logo">
      <img src="/assets/papl_logo_sample copy.png" alt="Official Logo">
     </div>
     
     <div class="logo-separator"></div>
     <div class="logo-name">
      <img class="logo-watch" src="/assets/inspector bl.png" alt="">
      <span class="name">INSPECTOR DASHBOARD</span>
     </div>
    </div>
    <div class="right-section">
      <img class="icons" src="/assets/home22.png" alt="" (click)="navigateHome()">
     <img (click)="toggleFullScreen()" class="zoom" [src]="imageSrc" alt="Zoom">
    
     <div class="emoji-icon">
       <!-- Dynamic Image Preview -->
 <img *ngIf="previewSrc" [src]="previewSrc" alt="Preview Image" class="admin-image dynamic-image">{{name}}
 
 
 
 
   </div>
 
   <div class="dropdown">
       <!-- Dropdown Button -->
       <button class="dropbtn" (click)="toggleDropdown()">
           <i class="fas fa-chevron-down"></i>
       </button>
 
       <!-- Dropdown Content -->
       <div class="dropdown-content" [class.show]="dropdownVisible">
         <a  (click)="openManageAccountPopup()"><i class="fa fa-cog"></i> Manage Account</a>
           <a (click)="openLogoutPopup()"><i class="fas fa-sign-out-alt"></i> Logout</a>
       </div>
 </div>
 
     
    </div>
   </nav>
 
  <!-- Hero Section -->
  <div class="hero">
    <div class="timeline">
      <div class="timeline-item">
        <img class="icon" src="/assets/HOME DOCUMENT.png" alt="">
      </div>
      <div class="timeline-item">
        <img class="logo-watch" src="/assets/Watch Circle Time.png" alt="">
      </div>
      <div class="timeline-item">
        <img class="icon" src="/assets/Icon.png" alt="">
      </div>
      <div class="timeline-item">
        <img class="icon" src="/assets/document.png" alt="">
      </div>
    </div>
    <div class="timeline-item-inquiry">
      <div class="timeline-content">
        <p><strong>For inquiries or issues, please contact us at <img class="mail" src="/assets/mail Icon.png" alt=""><a href="mailto:info@paplcorp.com">info@paplcorp.com</a></strong></p>
      </div>
    </div>
    <div class="container">
      <div class="container-header">
        <!-- <img class="voice" [src]="location"  (click)="speakText()" alt="Logo"> 
        <p *ngIf="showMessage" class="wait-message">Please listen to the audio..</p> -->
        <img  class="robot" src="/assets/robot telling.gif" (click)="speakText()" alt="">
        <!-- <p *ngIf="showMessage" class="wait-message">Please listen to the audio..</p> --> 
        <h1>OPENING MEETING</h1>
        <h3>Greetings of the Day One and all Present here!</h3>
      </div>
      <div class="para">
        <p>This inspection is categorized as a third-party Type 3 inspection - inspection for safety, performance & maintenance quality assessment, and it is a checklist-based assessment.</p>
        <br>
        <p>During the course of the inspection, we will be collecting a lot of data about the elevator along with pictures as evidence of our findings. We assure you that the information gathered and pictures taken will be handled with confidentiality as we are bound by oath of secrecy. We are also bound by independence and impartiality requirements as an inspection body and if you find any issues with us or our conduct or inspection process you may write to info@paplcorp.com and your concerns will be addressed appropriately.</p>
        <br>
        <p class="date">This inspection will be conducted by Me/Us between <span class="date-color">{{inf_26.schedule_from |  date: 'dd-MM-yyyy'}}</span> to <span class="date-color">{{inf_26.schedule_to |  date: 'dd-MM-yyyy'}}</span>.</p>
        <!-- [disabled]="!textRead" (click)="accept()" [ngClass]="{'disabled-button': !textRead}" -->
        <!-- <button class="action-button" [disabled]="!textRead" (click)="accept()" [ngClass]="{'disabled-button': !textRead}"  >
            PROCEED TO ATTENDANCE SHEET</button>     
         -->


         <!-- <button class="action-button"  (click)="accept()"   >
          PROCEED TO ATTENDANCE SHEET</button>      -->
      
        <button class="action-button" [disabled]="!textRead" (click)="accept()" [ngClass]="{'disabled-button': !textRead}">
            <i class="fas fa-arrow-right"></i>Proceed to Attendance Sheet
          </button>

      </div>
      <img class="pic-ins" src="/assets/opening meeting ins.png" alt="">
      <p class="thanks">Thank you...!</p>
    </div>
  </div>

<!-- ///////////pop for manage account form update html code /////////////////// -->
<div class="popup-background-blur" *ngIf="isVisible"></div> <!-- Background blur -->
<div class="popup1" *ngIf="isVisible">
    <div class="popup-content1">
        <span class="close1" (click)="closePopup1()" title="Close">&times;</span>
      
        <div class="form-container">
          <h2>Manage Account</h2>
          <form (ngSubmit)="onSubmit()" enctype="multipart/form-data" novalidate>
            <div class="form-group">
              <label for="Username">Name</label>
              <input type="text" id="Username" name="Username" [(ngModel)]="formData.Username" required>
            </div>
      
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" id="email" name="email" [(ngModel)]="formData.email" required>
            </div>
      
            <div class="form-group password-group">
              <label for="password">Password</label>
              <input 
                type="password" 
                id="password" 
                name="password" 
                [(ngModel)]="formData.password" 
                [type]="isPasswordVisible ? 'text' : 'password'" 
                required
              >
              <span class="toggle-password" (click)="togglePasswordVisibility()">
                <i 
                  id="eyeIcon" 
                  [ngClass]="{'fa-eye': isPasswordVisible, 'fa-eye-slash': !isPasswordVisible}" 
                  class="fa" 
                  style="margin-top: 20px; margin-right: 5px;">
                </i>
              </span>
            </div>
            <div class="form-group">
              <label for="picture">Upload Profile Picture</label>
              <input type="file" id="Picture" name="Picture" (change)="onFileSelected($event)">
            </div>
            
            <div class="image-preview" *ngIf="previewSrc">
              <img id="preview" [src]="previewSrc" alt="Preview Image" style="max-width: 100px; max-height: 100px;">
            </div>
      
            <div class="form-group">
              <button 
              type="submit" 
              [disabled]="!formData.password || !formData.picture" 
              [ngStyle]="{'background-color': !formData.password || !formData.picture ? '#ccc' : '#ee7f22', 
              'color': !formData.password || !formData.picture ? '#666' : '#393667'}"
              [ngClass]="{'disabled-button': !formData.password || !formData.picture}"
            >
            Update Account
  </button>
            </div>
          </form>
        </div>
      </div>
      
</div>


<div class="popup-overlay" [class.show]="showPopup">
  <div class="popup-content">
      <!-- <h2>Confirm Logout</h2> -->
      <p>Are you sure you want to log out?</p>
      <div class="popup-buttons">
          <button class="confirm" (click)="confirmLogout()">
              Yes
          </button>
          <button class="cancel" (click)="closePopup()">
              No
          </button>
      </div>
  </div>
    </div>