
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  
   

  
    <div class="container">

      
        <!-- Header -->
        <header class="header">
            <h1>INF-26</h1>
            
            
           
        </header>
        

        <main class="content">
          <h2>INF-26 DATA</h2>
          <div class="search-box">
              <button class="btn-search"><i class="fas fa-search"></i></button>
              <input type="text" class="input-search" placeholder="Type to Search...">
            </div>
          <br>
          <hr>
          <br>

          <div class="cards">
          
      
          
            <div class="cards">
              <div class="card" style="cursor: pointer;"(click)="redirect1()">
                <h3 style="font-size: 30px;"></h3>
                <div class="icon-container">
                  <i class="fa fa-industry"></i>
                </div>
                <b style="font-size: 17px;">OEM DETAILS</b>
              </div>
            </div>
            

            <div class="cards">
              <div class="card" style="cursor: pointer;"(click)="redirect2()">
                <h3 style="font-size: 30px;"></h3>
                <div class="icon-container">
                  <i   class="fa fa-clock"></i>
                </div>
                <b style="font-size: 17px;">INSPECTION TIME</b>
              </div>
            </div>





            

              <div class="cards">
                  <div class="card"  style="cursor: pointer;"  (click)="redirect3()">
                    <h3 style="font-size: 30px;"></h3>
                    <div class="icon-container">
                      <i class="fa fa-user-tie"></i>
                    </div>
                    <b style="font-size: 17px;">INSPECTOR TYPE</b>
                  </div>
              </div>

              

              <div class="cards">
                <div class="card"  style="cursor: pointer;"  (click)="redirect4()">
                  <h3 style="font-size: 30px;"></h3>
                  <div class="icon-container">
                    <i class="fa fa-bed"></i>
                  </div>
                  <b style="font-size: 17px;">TRAVEL ACCOMODATION</b>
                </div>
            </div>
            <div class="cards">
              <div class="card"  style="cursor: pointer;"[routerLink]="'/oem_details'" (click)="redirect5()">
                <h3 style="font-size: 30px;"></h3>
                <div class="icon-container">
                  <i class="fa fa-calendar-alt"></i>
                </div>
                <b style="font-size: 17px;">INSPECTION TIME INS</b>
              </div>
          </div>
          <div class="cards">
            <div class="card"  style="cursor: pointer;" [routerLink]="'/oem_details'" (click)="redirect6()">
              <h3 style="font-size: 30px;"></h3>
              <div class="icon-container">
                <i class="fa fa-list"></i>
              </div>
              <b style="font-size: 17px;">INSPECTION TYPE</b>
            </div>
        </div>
        <div class="cards">
          <div class="card"  style="cursor: pointer;" [routerLink]="'/oem_details'" (click)="redirect7()">
            <h3 style="font-size: 30px;"></h3>
            <div class="icon-container">
              <i class="fa fa-building"></i>
            </div>
            <b style="font-size: 17px;">TYPE OF BUILDING</b>
          </div>
      </div>

      <div class="cards">
        <div class="card"  style="cursor: pointer;" [routerLink]="'/oem_details'" (click)="redirect8()">
          <h3 style="font-size: 30px;"></h3>
          <div class="icon-container">
            <i class="fa fa-globe"></i>
          </div>
          <b style="font-size: 17px;">REGION DETAILS</b>
        </div>
    </div>

    <div class="cards">
      <div class="card"  style="cursor: pointer;" [routerLink]="'/oem_details'" (click)="redirect9()">
        <h3 style="font-size: 30px;"></h3>
        <div class="icon-container">
          <i class="fa fa-users"></i>
        </div>
        <b style="font-size: 17px;">VENDOR DETAILS</b>
      </div>
  </div>


              
              
          </div>
     
      
      </main>
        

        <!-- Footer -->
        <footer class="footer">
            <p><a style="color: yellow;" href="https://paplexpress.com" target="_blank">Paplexpress.com</a> - All rights reserved 2024</p>
        </footer>
    </div>

</body>

</html>
