
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

<div class="opening-meeting">
  <!-- Navbar -->
  <nav class="navbar">
    <div class="left-section">
     <div class="logo">
      <img src="/assets/papl_logo_sample copy.png" alt="Official Logo">
     </div>
     
     <div class="logo-separator"></div>
     <div class="logo-name">
      <img class="logo-watch" src="/assets/inspector bl.png" alt="">
      <span class="name">INSPECTOR DASHBOARD</span>
     </div>
    </div>
    <div class="right-section">
      <img class="icons" src="/assets/home22.png" alt="" (click)="navigateHome()">
     <img (click)="toggleFullScreen()" class="zoom" [src]="imageSrc" alt="Zoom">
    
     <div class="emoji-icon">
       <!-- Dynamic Image Preview -->
 <img *ngIf="previewSrc" [src]="previewSrc" alt="Preview Image" class="admin-image dynamic-image">{{name}}
 
 
 
 
   </div>
 
   <div class="dropdown">
       <!-- Dropdown Button -->
       <button class="dropbtn" (click)="toggleDropdown()">
           <i class="fas fa-chevron-down"></i>
       </button>
 
       <!-- Dropdown Content -->
       <div class="dropdown-content" [class.show]="dropdownVisible">
         <a  (click)="openManageAccountPopup()"><i class="fa fa-cog"></i> Manage Account</a>
           <a (click)="openLogoutPopup()"><i class="fas fa-sign-out-alt"></i> Logout</a>
       </div>
 </div>
 
     
    </div>
   </nav>
 
  <!-- Hero Section -->
  <div class="hero">
    <!-- Skeleton Loader -->
<ng-container *ngIf="isLoading">
  <div class="skeleton-container">
      <div class="skeleton-inner-container">
          <!-- Left and Right Icons -->
          <div class="skeleton skeleton-icon skeleton-left-icon"></div>
          <div class="skeleton skeleton-icon skeleton-right-icon"></div>

          <!-- Header Placeholder -->
          <div class="skeleton skeleton-header"></div>

          <!-- Box Placeholder -->
          <div class="box-container">
              <div class="skeleton skeleton-box" *ngFor="let item of [1,2,3,4,5,6]"></div>
          </div>
      </div>
  </div>
</ng-container>
<ng-container *ngIf="!isLoading">

    <div class="container">
      <div class="inner-container">
        <img class="left-top-img" src="/assets/Back Square.png" alt="Left Image" (click)="back()">
        <img class="right-top-img" src="/assets/down.png" alt="" *ngIf="!hasFunctionalPointYChecked1"  (click)="shutdown()">
        <div class="container-header">
            <h1>UNIT ID: {{val}}</h1>
          </div>
          <div class="box-container">
            <div class="box"  (click)="proceed('Breif_specification','unit_no')">BRIEF SPECIFICATION</div>
            <div class="box" (click)="proceed1('pit')">PIT</div>
            <div class="box" (click)="proceed2('cabin')">CABIN</div>
            <div class="box" (click)="proceed3('cartop')">CARTOP</div>
            <div class="box" (click)="proceed4('machineroom')">MACHINE ROOM</div>
            <div class="box" (click)="proceed5('floorlanding')">FLOOR LANDING</div>
          </div>
      </div>
    </div>
  </ng-container>

    <img  class="papl-logo" src="/assets/papl_logo_sample copy.png" alt="">
  </div>
 </div>

 <!-- ///////////pop for manage account form update html code /////////////////// -->
<div class="popup-background-blur" *ngIf="isVisible"></div> <!-- Background blur -->
<div class="popup1" *ngIf="isVisible">
    <div class="popup-content1">
        <span class="close1" (click)="closePopup1()" title="Close">&times;</span>
      
        <div class="form-container">
          <h2>Manage Account</h2>
          <form (ngSubmit)="onSubmit()" enctype="multipart/form-data" novalidate>
            <div class="form-group">
              <label for="Username">Name</label>
              <input type="text" id="Username" name="Username" [(ngModel)]="formData.Username" required>
            </div>
      
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" id="email" name="email" [(ngModel)]="formData.email" required>
            </div>
      
            <div class="form-group password-group">
              <label for="password">Password</label>
              <input 
                type="password" 
                id="password" 
                name="password" 
                [(ngModel)]="formData.password" 
                [type]="isPasswordVisible ? 'text' : 'password'" 
                required
              >
              <span class="toggle-password" (click)="togglePasswordVisibility()">
                <i 
                  id="eyeIcon" 
                  [ngClass]="{'fa-eye': isPasswordVisible, 'fa-eye-slash': !isPasswordVisible}" 
                  class="fa" 
                  style="margin-top: 20px; margin-right: 5px;">
                </i>
              </span>
            </div>
            <div class="form-group">
              <label for="picture">Upload Profile Picture</label>
              <input type="file" id="Picture" name="Picture" (change)="onFileSelected($event)">
            </div>
            
            <div class="image-preview" *ngIf="previewSrc">
              <img id="preview" [src]="previewSrc" alt="Preview Image" style="max-width: 100px; max-height: 100px;">
            </div>
      
            <div class="form-group">
              <button 
              type="submit" 
              [disabled]="!formData.password || !formData.picture" 
              [ngStyle]="{'background-color': !formData.password || !formData.picture ? '#ccc' : '#ee7f22', 
              'color': !formData.password || !formData.picture ? '#666' : '#393667'}"
              [ngClass]="{'disabled-button': !formData.password || !formData.picture}"
            >
            Update Account
  </button>
            </div>
          </form>
        </div>
      </div>
      
</div>


<div class="popup-overlay" [class.show]="showPopup">
  <div class="popup-content">
      <!-- <h2>Confirm Logout</h2> -->
      <p>Are you sure you want to log out?</p>
      <div class="popup-buttons">
          <button class="confirm" (click)="confirmLogout()">
             Yes
          </button>
          <button class="cancel" (click)="closePopup()">
             No
          </button>
      </div>
  </div>
    </div>