
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <title>Dashboard</title>
    <link rel="stylesheet" href="css/himal.css" type="text/css"> -->
</head>
<body>
  
   

  
    <div class="container">

      
        <!-- Header -->
        <header class="header">
            <h1>Inspection Master</h1>

        </header>
        



        <!-- Sidebar -->
        <!-- <nav class="sidebar">
            <ul>
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </nav> -->

       
        <main class="content">
            <h2>Inspection Master</h2>
            <div class="search-box">
                <button class="btn-search"><i class="fas fa-search"></i></button>
                <input type="text" class="input-search" placeholder="Type to Search...">
              </div>
            <br>
            <hr>
            <br>

            <div class="cards">


              
                <div class="card" style="cursor: pointer;" (click)="redirect()">
                  <h3 style="font-size: 30px;">11</h3>
                  <div class="icon-container">
                    <i class="fa fa-users zoom-icon"></i>
                  </div>
                  <b style="font-size: 17px;">ORGANIZATION MASTER</b>
                </div>
              
                <div class="card" style="cursor: pointer;" (click)="redirect1()">
                  <h3 style="font-size: 30px;">22</h3>
                  <div class="icon-container">
                    <i class="fa fa-file-alt zoom-icon"></i>
                  </div>
                  <b style="font-size: 17px;">TYPE OF INSPECTION</b>
                </div>
              
                <div class="card"  style="cursor: pointer;" (click)="redirect2()">
                  <h3 style="font-size: 30px;">33</h3>
                  <div class="icon-container">
                    <i class="fa fa-tasks zoom-icon"></i>
                  </div>
                  <b style="font-size: 17px;">PRODUCT MASTER</b>
                </div>
              
                <div class="card" style="cursor: pointer;">
                  <h3 style="font-size: 30px;">44</h3>
                  <div class="icon-container">
                    <i class="fa fa-stream zoom-icon"></i>
                  </div>
                  <b style="font-size: 17px;">SUB PRODUCT MASTER</b>
                </div>
              
                <div class="card" style="cursor: pointer;">
                  <h3 style="font-size: 30px;">55</h3>
                  <div class="icon-container">
                    <i class="fa fa-sitemap zoom-icon"></i>
                  </div>
                  <b style="font-size: 17px;">SUB PRODUCT MASTER 2</b>
                </div>
              
                <div class="card" style="cursor: pointer;">
                  <h3 style="font-size: 30px;">66</h3>
                  <div class="icon-container">
                    <i class="fa fa-cloud-upload-alt zoom-icon"></i>
                  </div>
                  <b style="font-size: 17px;">EXCEL Upload</b>
                </div>
              
              
                
                
            </div>
       
        
        </main>
        

        <!-- Footer -->
        <footer class="footer">
            <p><a style="color: yellow;" href="https://paplexpress.com" target="_blank">Paplexpress.com</a> - All rights reserved 2024</p>
        </footer>
    </div>



  
   

</body>

</html>
