<mat-tab-group>
    <mat-tab label="Key Abstract">
        <!-- <app-key-abstract></app-key-abstract>
         -->
         <app-key-abstract-list></app-key-abstract-list>
    </mat-tab>
    <mat-tab label="Closing Meeting">
        <app-closing-meeting></app-closing-meeting>
    </mat-tab>
    <mat-tab label="FeedBack Form">
        <app-feed-back-fill></app-feed-back-fill>
      </mat-tab>
      <!-- <mat-tab label="
      Work Completion Certificate">
        <app-wcc></app-wcc>
    </mat-tab> -->
    <mat-tab label="
    Work Completion Certificate">
      <app-wcc-list></app-wcc-list>
  </mat-tab>
        
      
  </mat-tab-group>