<mat-tab-group>
    <mat-tab label="New Report">
      <app-new-report></app-new-report>
    </mat-tab>

    <!-- <mat-tab label="Upload Report">
    <app-upload-report></app-upload-report>
    </mat-tab> -->

    <mat-tab label="View Report">
      <app-view-report></app-view-report>
      </mat-tab>

    <mat-tab label="Approved Reports">
      <app-existing-report></app-existing-report>
    </mat-tab>

    <mat-tab label="Rejected Reports">
    <app-rejected-reports></app-rejected-reports>
    </mat-tab>

    <mat-tab label="Excel Reports">
      <app-excel-report></app-excel-report>
      </mat-tab>

  </mat-tab-group>