
<br />
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Profile Icon Example</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
</head>

<body [class.blurred]="open_popUp">
  <!-- Pop-up Section -->

  <!-- <div *ngIf="open_popUp" class="popup-container">
    <div class="popup-content">
      <button class="close-button" (click)="closeDialog()" aria-label="Close popup">
        <svg fill="#d10000" height="16px" width="16px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 492 492" xml:space="preserve" stroke="#d10000">
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
          <g id="SVGRepo_iconCarrier">
            <g>
              <g>
                <path
                  d="M300.188,246L484.14,62.04c5.06-5.064,7.852-11.82,7.86-19.024c0-7.208-2.792-13.972-7.86-19.028L468.02,7.872 c-5.068-5.076-11.824-7.856-19.036-7.856c-7.2,0-13.956,2.78-19.024,7.856L246.008,191.82L62.048,7.872 c-5.06-5.076-11.82-7.856-19.028-7.856c-7.2,0-13.96,2.78-19.02,7.856L7.872,23.988c-10.496,10.496-10.496,27.568,0,38.052 L191.828,246L7.872,429.952c-5.064,5.072-7.852,11.828-7.852,19.032c0,7.204,2.788,13.96,7.852,19.028l16.124,16.116 c5.06,5.072,11.824,7.856,19.02,7.856c7.208,0,13.968-2.784,19.028-7.856l183.96-183.952l183.952,183.952 c5.068,5.072,11.824,7.856,19.024,7.856h0.008c7.204,0,13.96-2.784,19.028-7.856l16.12-16.116 c5.06-5.064,7.852-11.824,7.852-19.028c0-7.204-2.792-13.96-7.852-19.028L300.188,246z">
                </path>
              </g>
            </g>
          </g>
        </svg>
      </button>
      <div [ngClass]="{
            'rotating-element': !isGetInfDataEnabled,
            
          }">
        <p class="mail_status" [ngStyle]="{ color: isGetInfDataEnabled ? 'green' : 'red' }"
          [(ngModel)]="isGetInfDataEnabled">
          Get INF Data
        </p>
      </div>
      <div [ngClass]="{
            'rotating-element': !isGetInspectorDataEnabled,
            
          }">
        <p class="mail_status" [ngStyle]="{ color: isGetInspectorDataEnabled ? 'green' : 'red' }"
          [(ngModel)]="isGetInspectorDataEnabled">
          Get Inspector Data
        </p>
      </div>
      <div [ngClass]="{
            'rotating-element': !isGetMailSetupEnabled,
            
          }">
        <p class="mail_status" [ngStyle]="{ color: isGetMailSetupEnabled ? 'green' : 'red' }"
          [(ngModel)]="isGetMailSetupEnabled">
          Get Mail Setup
        </p>
      </div>
      <div [ngClass]="{
            'rotating-element': !isSendingMailEnabled,
            
          }">
        <p class="mail_status" [ngStyle]="{ color: isSendingMailEnabled ? 'green' : 'red' }"
          [(ngModel)]="isSendingMailEnabled">
          <i class="fas fa-envelope"></i> Sending Mail
        </p>
      </div>
      <div [ngClass]="{
            'rotating-element': !isMailReportEnabled,
            
          }">
        <p class="mail_status" [ngStyle]="{ color: isMailReportEnabled ? 'green' : 'red' }"
          [(ngModel)]="isMailReportEnabled">
          Mail Sent
        </p>
      </div>
    </div>

    <div class="loading-container">
      <div class="loading-bar"></div>
      <br />
    </div>
    <p class="error_prob">{{ Error }}</p>
  </div> -->

  <div class="popup-background-blur" *ngIf="open_popUp"></div> <!-- Background blur -->

  <div class="popup-container" *ngIf="open_popUp">
    <span class="close-btn" (click)="closeDialog()">✖</span>
    <div class="content">
        <p class="green-texts">Get INF Data</p>
        <p class="green-texts">Get Inspector Data</p>
        <p class="green-texts">Get Mail Setup</p>
        <p class="green-texts">
             Sending Mail
        </p>
        <p class="red-text">Mail Sent</p>
        <div class="progress-bar">
            <div class="progress" id="progress"></div>
        </div>
    </div>
</div>
  <!-- navbar section -->

  <div *ngIf="!scheduleBool">
     <!-- Navbar -->
     <nav class="navbar">
      <div class="left-section">
       <div class="logo">
        <img src="/assets/papl_logo_sample copy.png" alt="Official Logo">
       </div>
       
       <div class="logo-separator"></div>
       <div class="logo-name">
        <img class="logo-watch" src="/assets/inspector bl.png" alt="">
        <span class="name">INSPECTOR DASHBOARD</span>
       </div>
      </div>
      <div class="right-section">
        <img class="icons" src="/assets/home22.png" alt="" (click)="navigateHome()">
       <img (click)="toggleFullScreen()" class="zoom" [src]="imageSrc" alt="Zoom">
      
       <div class="emoji-icon">
         <!-- Dynamic Image Preview -->
   <img *ngIf="previewSrc" [src]="previewSrc" alt="Preview Image" class="admin-image dynamic-image">{{name}}
   
   
   
   
     </div>
   
     <div class="dropdown">
         <!-- Dropdown Button -->
         <button class="dropbtn" (click)="toggleDropdown()">
             <i class="fas fa-chevron-down"></i>
         </button>
   
         <!-- Dropdown Content -->
         <div class="dropdown-content" [class.show]="dropdownVisible">
           <a  (click)="openManageAccountPopup()"><i class="fa fa-cog"></i> Manage Account</a>
             <a (click)="openLogoutPopup()"><i class="fas fa-sign-out-alt"></i> Logout</a>
         </div>
   </div>
   
       
      </div>
     </nav>

    <br />

    <!-- Timeline Section -->

    <div class="timeline">
      <div class="timeline-item">
        <img class="icon" src="/assets/HOME DOCUMENT.png" alt="">
      </div>
      <div class="timeline-item">
        <img class="logo-watch" src="/assets/Watch Circle Time.png" alt="">
      </div>
      <div class="timeline-item">
        <img class="icon" src="/assets/Icon.png" alt="">
      </div>
      <div class="timeline-item">
        <img class="icon" src="/assets/document.png" alt="">
      </div>
    </div>

    <!-- Notification Button -->

    <!-- <div style="padding-left: 20px; margin-top: 70px">
      <button type="button" (click)="redirectSchedule()" class="icon-button">
        <span class="material-icons">notifications</span>
        <span class="icon-button__badge">{{ recordCount }}</span>
      </button>
    </div> -->
    <br />

    <!-- Main Container Box -->

    

    <!-- <div *ngFor="let request of records">

      <div class='job' style="padding-top: 20px;">
        <h2>{{request.building_name}}</h2>
        <div class="eye-icon"><i class="fas fa-eye" (click)="pdf(request.contract_number)"></i></div>
        <p class='department'>Project Name: {{request.project_name}}</p>
        <p class='department'>No.of.units: {{request.total_units_schedule}}</p>
        <p class='department'>Location: {{request.location}}</p>
        <p class='department'>Type of inspection: {{request.type_of_inspection}}</p>
        <div *ngIf="request.client_approval_status==1">
          <button class='apply-button' (click)="start(request.contract_number)" [disabled]="isButtonDisabled(request.schedule_from,request.client_approval_status)"> Start </button>
            <button class="apply-button1" (click)="abortyes(request.id,request.total_units_schedule)">Abort</button>
        </div>
<div>

  <button *ngIf="request.client_approval_status==0"  class='apply-button' (click)="Send_Mail_Client(request.id)"  [disabled]="!isSendMailEnabled(request.inspector_array,request.mailset_status)"> Send Mail </button>
</div>




        <div class='job-footer'>
          <div class='job-dates'>
            <div class='job-posted-date'>{{request.schedule_from | date: 'dd/MM/yyyy'}}</div>
            <div class='job-expiry-date'>{{request.schedule_to | date: 'dd/MM/yyyy'}}</div>
          </div>

        </div> -->

<div class="parent-container">
  
    <div class="container" *ngFor="let request of records" >
      <!-- top-container  -->
      <div class="top-container">
        <div class="location">
          <img class="gps" src="/assets/gps.png" alt="">
          <span class="city-name">LOCATION: {{ request.location }}</span>
        </div>
        <div class="project-name">
          <span>PROJECT NAME: {{ request.project_name }}</span>
          <img class="eyes" src="/assets/eyes.png" alt="" (click)="pdf(request.contract_number)">
        </div>
      </div>

      <!-- inner-container  -->

      <div class="inner-container">
        <div class="details">
          <img class="building" src="/assets/building.png" alt="">
          <button class="inner-button">{{ request.building_name }}</button>
        </div>
        <div class="upload-img">
          <img class="tpt" src="/assets/tpt3.png" alt="">
          <span class="field">Type of inspection: {{ request.type_of_inspection }}</span>
        </div>
        <div class="units-total">
          <span class="units">Total Units: {{ request.total_units_schedule }}</span>
        </div>
      </div>

      <!-- middle-container  -->

      <div class="middle-container">
        <div class="schedule-time">
          <span class="schedule">Schedule From:
            {{ request.schedule_from | date : "dd/MM/yyyy" }}</span>
        </div>
        <div class="schedule-time">
          <span class="schedule">Schedule To:
            {{ request.schedule_to | date : "dd/MM/yyyy" }}</span>
        </div>
      </div>

      <!-- Button Container -->

      <div class="button-container">

        <div *ngIf="request.client_approval_status==1" class="outer-buttoncon">
          <button class="outer-button" (click)="start(request.contract_number)" [disabled]="isButtonDisabled(request.schedule_from,request.client_approval_status)"> Start </button>
            <button class="outer-button" (click)="abortyes(request.id,request.total_units_schedule)">Abort</button>
        </div>

        <button class="outer-button"  *ngIf="request.client_approval_status==0"  (click)="Send_Mail_Client(request.id)"  [disabled]="!isSendMailEnabled(request.inspector_array,request.mailset_status)"
            >
          Send Mail
        </button>
      </div>

      <hr />

      <!-- Mail Section  -->

      <div class="mail-container">
        <div class="mail-sent">
          <img class="e-mail" src="/assets/email.png" alt="">
          <span class="mail-span" [ngClass]="{
                'gray-text':
                  request.mailset_status !== 1 ||
                  request.mailset_status == null,
                'green-text': request.mailset_status === 1
              }">Mail Sent</span>
        </div>
        <div class="mail-sent">
          <img class="eyess" src="/assets/eyes.png" alt="">
          <span class="mail-span" [ngClass]="{
                'gray-text':
                  request.client_approval_status !== 1 &&
                  request.client_rejection_reason !== 0,
                'green-text':
                  request.client_approval_status === 1 ||
                  request.client_rejection_reason.length > 2
              }">Client Responded</span>
        </div>
        <div class="mail-sent">
          <img class="accept" src="/assets/accepted.png" alt="">
          <span class="mail-span" *ngIf="request.client_approval_status === 1">Mail Accepted</span>
          <span class="mail-span" *ngIf="
                request.client_approval_status !== 1 &&
                request.client_rejection_reason !== 0 &&
                request.client_rejection_reason.length > 2
              " class="red-text">
            Cause : {{ request.client_rejection_reason }}
          </span>
        </div>
      </div>
    </div>
  </div>
    <!-- <p *ngIf="records.length === 0">No more accepted projects</p> -->

    <!-- <div><router-outlet></router-outlet></div> -->
    <!-- <h1>{{records | json}}</h1> -->
  </div>

  <!-- Logo section -->

  <div class="logo-section">
    <img class="papl-logo" src="/assets/cropped_logo.png" alt="" />
  </div>

  <!-- Router Link -->
  <div>
    <router-outlet></router-outlet>
  </div>
</body>

</html>
<!-- ///////////pop for manage account form update html code /////////////////// -->
<div class="popup-background-blur" *ngIf="isVisible"></div> <!-- Background blur -->
<div class="popup1" *ngIf="isVisible">
    <div class="popup-content1">
        <span class="close1" (click)="closePopup1()" title="Close">&times;</span>
      
        <div class="form-container">
          <h2>Manage Account</h2>
          <form (ngSubmit)="onSubmit()" enctype="multipart/form-data" novalidate>
            <div class="form-group">
              <label for="Username">Name</label>
              <input type="text" id="Username" name="Username" [(ngModel)]="formData.Username" required>
            </div>
      
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" id="email" name="email" [(ngModel)]="formData.email" required>
            </div>
      
            <div class="form-group password-group">
              <label for="password">Password</label>
              <input 
                type="password" 
                id="password" 
                name="password" 
                [(ngModel)]="formData.password" 
                [type]="isPasswordVisible ? 'text' : 'password'" 
                required
              >
              <span class="toggle-password" (click)="togglePasswordVisibility()">
                <i 
                  id="eyeIcon" 
                  [ngClass]="{'fa-eye': isPasswordVisible, 'fa-eye-slash': !isPasswordVisible}" 
                  class="fa" 
                  style="margin-top: 20px; margin-right: 5px;">
                </i>
              </span>
            </div>
            <div class="form-group">
              <label for="picture">Upload Profile Picture</label>
              <input type="file" id="Picture" name="Picture" (change)="onFileSelected($event)">
            </div>
            
            <div class="image-preview" *ngIf="previewSrc">
              <img id="preview" [src]="previewSrc" alt="Preview Image" style="max-width: 100px; max-height: 100px;">
            </div>
      
            <div class="form-group">
              <button 
              type="submit" 
              [disabled]="!formData.password || !formData.picture" 
              [ngStyle]="{'background-color': !formData.password || !formData.picture ? '#ccc' : '#ee7f22', 
              'color': !formData.password || !formData.picture ? '#666' : '#393667'}"
              [ngClass]="{'disabled-button': !formData.password || !formData.picture}"
            >
            Update Account
  </button>
            </div>
          </form>
        </div>
      </div>
      
</div>


<div class="popup-overlay" [class.show]="showPopup">
  <div class="popup-content">
      <!-- <h2>Confirm Logout</h2> -->
      <p>Are you sure you want to log out?</p>
      <div class="popup-buttons">
          <button class="confirm" (click)="confirmLogout()">
              Yes
          </button>
          <button class="cancel" (click)="closePopup()">
              No
          </button>
      </div>
  </div>
    </div>