<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<div #contentToConvert>
    <body>
        
    
        <div class="header">
            <img class="company-logo" [src]="remove" alt="Company Logo">
    
            
           
            <div class="certificate">
                <p><b>CERTIFICATE OF INSPECTION</b></p>
            </div>
        </div>
        <table>
    
        <tr>
            <td colspan="12"><b>CERTIFICATE NO: PAPL 2024 TPT3 {{inf_26.id}}/{{document_id}}/{{nextId}}</b></td>
        </tr>
    
        <tr>
            <td colspan="12" style="text-align: center;">THIS IS TO CERTIFY THAT THE BELOW UNITS HAVE BEEN INSPECTED BY US AND FOUND TO BE IN SAFE WORKING CONDITION.</td>
        </tr>
    
    
        <tr>
            <td rowspan="3" colspan="2"> <b>CERTIFICATE ISSUED TO:</b></td>
            <td rowspan="3" colspan="3">{{inf_26.customer_name_as_per_work_order}}</td>
            <td rowspan="3" colspan="2"><b>BUILDING NAME & ADDRESS</b></td>
            <td rowspan="3" colspan="2">{{inf_26.building_name}}<br>{{inf_26.site_address}}</td>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr>
            <td colspan="2"><b>OEM</b></td>
            <td colspan="3"> {{breif_spec[0]?.oem}}</td>
            <td colspan="2"> <b>MAINTAINED BY</b> </td>
            <td colspan="2">{{breif_spec[0]?.service_provider}}</td>
        </tr>
    
       
    
    <tr>
            <td colspan="2"><b>DATE OF INSPECTION</b></td>
            <td colspan="3">{{ ins_end_date ? (ins_end_date | date: 'dd-MM-yyyy') : 'N/A' }}</td>



            <td colspan="2"><b>DATE OF RE-INSPECTION</b></td>
            <td colspan="2"> 
                <!-- Date picker input bound to ngModel -->
                <input 
                    type="date" 
                    class="borderless-input" 
                    [(ngModel)]="reInspectionDate"
                    placeholder="Select date"
                />
                <!-- Display the selected date if available -->
                <!-- <p *ngIf="reInspectionDate" class="input-display">{{ reInspectionDate | date:'dd-MM-yyyy' }}</p> -->
                <p class="input-display">
                    {{ reInspectionDate ? (reInspectionDate | date:'dd-MM-yyyy') : 'NIL' }}
                </p>
            </td>
            
        </tr>
    
        <tr>
            <td colspan="2"><b>INSPECTORS CODE</b></td>
            <td colspan="3">{{breif_spec[0]?.inspector_name}}</td>
            <td colspan="2"> <b>PAPL DOC & REPORT ID</b></td>
            <td colspan="2">TPT3-{{ breif_spec[0]?.document_id + "-" + report_id + "-" + inf_26.contract_number.slice(4) }}</td>

        </tr>
    
           <tr>
            <td colspan="9" style="text-align: center;"><b>THIS CERTIFICATE COVERS UNITS WITH DETAILS AS BELOW</b></td>
          </tr>
    
       <tr>
        <td style="font-size: 8px;"><b>UNIT NO.</b></td>
        <td style="font-size: 8px;"><b>MACHINE S.No.</b></td>
        <td style="font-size: 8px;"><b>MFG. YEAR</b></td>
        <td style="font-size: 8px;"><b>EQUIPMENT</b></td>
        <td style="font-size: 8px;"><b>USAGE</b></td>
        <td style="font-size: 8px;"><b>CAPACITY</b></td>
        <td style="font-size: 8px;"><b>STOPS / OPENINGS</b></td>
        <td style="font-size: 8px;"> <b>SPEED MPS</b></td>
        <td style="font-size: 8px;"><b>NEXT INSPECTION DUE DATE</b></td>
      </tr>
    
      <tr>
        <td>{{breif_spec[0]?.unit_no}}</td>
        <td>{{breif_spec[0]?.motor_serial_number}}</td>
        <td>{{breif_spec[0]?.year_of_manufacture}}</td>
        <td>{{breif_spec[0]?.type_of_equipment}}</td>
        <td>{{breif_spec[0]?.type_of_usage}}</td>
        <td>{{breif_spec[0]?.capacity}}</td>
        <td>{{breif_spec[0]?.floor_stops +'/'+breif_spec[0]?.floor_opening}}</td>
        <td>{{breif_spec[0]?.speed}}</td>
        <td > 
            <!-- <input 
                type="date" 
                class="borderless-input" 
                [(ngModel)]="tentativeDate"
                placeholder="Select date"
            /> -->
            <p *ngIf="tentativeDate" class="input-display">{{ tentativeDate | date:'dd-MM-yyyy' }}</p>
        </td>
        </tr>
    
     
    
    <tr>
    
        <td colspan="9" style="text-align: center;">
            <b>CERTIFICATE VALIDITY - SIX MONTHS FROM {{ ins_end_date ? (ins_end_date | date: 'dd-MM-yyyy') : 'N/A' }}</b>

    </td>
    </tr>
    
     <tr>
    <td colspan="12">
    
    <h3 style="text-align: center;"  style="font-weight: bold;">INSPECTION CARRIED OUT ASPER CHECK LIST</h3>
     <p style="text-align: justify;">This certificate is being issued by us in the capacity of an independent and impartial inspection body Accredited by NABCB in compliance with ISO/IEC 17020:2012</p>
            
    <p style="text-align: justify;"> THIS CERTIFICATE IS BEING ISSUED BASED ON A VISUAL INSPECTION of areas and sections of the <b>elevator pit, cabin, car top& hoist way, machine room and floor landings,</b>that are fully accessible and visible to the Inspector on the date of Inspection. Based on findings recorded on the date & place of inspection in accordance with the aforementioned standard the equipment is found to be in safe working condition and performing satisfactorily.</p>
            
    <p style="text-align: justify;"> The issuance of this certificate does not release the contracting parties from their own responsibilities and the fulfillment of their obligations. This certificate is granted subject to the condition that it is understood and agreed that nothing herein contained shall be deemed to relieve any designer, manufacturer, seller, supplier, Repairer, or operator of any warranty, express or implied. Under no circumstances howsoever shall PAPL Corp Private Limited be liable for any injury or damage to any person/s material, machinery, equipments or other items. Under no circumstances, PAPL Corp Private Limited, is liable for any damages directly or consequentially whatsoever. This certificate shall not be reproduced except in full without the approval of PAPL Corp Private Limited and receiving client.</p>
    <h2 style="font-size: 12px;">Note:</h2> 
    <p style="text-align: justify; "> 1.  In case of any major repair, modification and/ or alteration, this certificate will become invalid, and the equipment needs to be re-certified.  </p>
    <p style="text-align: justify;">  2.  Action be taken on the items mentioned in the inspection report and continuous preventive maintenance according to maker’s instruction be ensured.</p>
    <p style="text-align: center;" > This certificate is issued according to the general terms and conditions of service of PAPL Corp Private Limited.</p>
            
    </td>
    </tr>
    
    </table>
    
      
    <div class="signature">
    
        <div class="left-content">
            <div class="top">
            </div>    
       <!-- Add this in your HTML file -->
       <img [src]="signature" style="margin-left: 50px; margin-top: 20px;" class="signature_ins small-signature" alt="Inspector Signature Image">
    
    <!-- Add this in your CSS file or in the <style> section of your component -->
    
    
       
       <u><p class="Inspector" style="margin-top: -30px;">VERIFIED AND SIGNED BY <b>INSPECTOR</b></p></u> 
        
        
        </div>
    
        <div class="right-content">
    
            <div class="top">
               
            </div>
    
            
        </div>
    </div>
    
    <div class="container">
    
        <div class="date">
            <p>DATE OF ISSUE:  {{ currentDate | date:'dd-MM-yyyy' }}</p>
            <p>PLACE OF ISSUE: CHENNAI</p>
           
        </div>

      
        

        <!-- <div class="date2">
            <p><b>NOTE:</b>PAPL Corp Private Limited was formerly known as PVN Associates Private Limited</p>
            </div> -->
    
            <div class="logofooter">
                <div>
                  <img class="logo" [src]="company" alt="Company Logo">
                </div>
              
                <div class="footer">
                  <img class="logo2" [src]="nabcb" alt="Company Logo">
                </div>
              
                <div>
                  <img class="logo1" [src]="nacc" alt="Company Logo">
                </div>
              </div>
</div>              

    <div>
        <p class="notes"><b>NOTE:</b>PAPL Corp Private Limited was formerly known as PVN Associates Private Limited</p>
    </div>
    
    <div class="down_page">
    <p class="flat" style="font-size: 10px;">NO 389,2nd FLOOR, 1st MAIN ROAD,NEHRU NAGAR,OMR,KOTTIVAKKAM,CHENNAI - 600041.</p>
    
    <div class="com">
       
    <h3><a href="http://www.paplcorp.com" style="font-size: 12px;">www.paplcorp.com</a></h3>
    </div>
    
    <p class="footer">PAPL/INF/16, VER.2.0, 10-07-2024</p>
    
    </div>
    
    </body>
    </div>
    
    <div class="button_pdf">
        <button (click)="generateAndSavePDF()">
            <i class="fas fa-download"></i>  Download Certificate
        </button>
      </div>
      
    
    
    
    
    
    
    